[*.cs]

# IDE0002: 简化成员访问
dotnet_diagnostic.IDE0002.severity = none

# IDE0058: 永远不会使用表达式值
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none
