[*.cs]

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# CA1028: Enum Storage should be Int32
dotnet_diagnostic.CA1028.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1720: 标识符包含类型名称
dotnet_diagnostic.CA1720.severity = none

# IDE0049: 简化名称
dotnet_style_predefined_type_for_locals_parameters_members = true:none

# IDE0049: 简化名称
dotnet_style_predefined_type_for_member_access = true:none

# IDE0059: 不需要赋值
csharp_style_unused_value_assignment_preference = discard_variable:none
